# Sphinx documentation
docs/_apidoc/
docs/_build/
docs/_autosummary/
build/
dist/
*.egg-info
Pipfile
Pipfile.lock

*.orig

__pycache__/
*.pyc
*.tar
*.zip

.tokens

.idea
.DS_Store
.venv
.vscode/settings.json

htmlcov
junit
.coverage
coverage.xml

.localconfig.mk
*.pro
*.ts
